.panel-pincipal{
  background-color: #3c7d34;
}
.text-white{
  color: #fbfbfb;
}
.modal-header{
  background-color: #3c7d34;
  color: #fbfbfb;
}
.modal{
	background: rgba(0, 0, 0, 0.5);
    text-align:center;
    padding:0!important;         
}
.modal:before{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:top;
    margin-right: -4px;
}
.modal-dialog{
    display:inline-block;
    text-align:left;
    vertical-align:top;
}