*{margin:0;}

#contenido{
   background:#fff;
   margin:20px auto;
   overflow:hidden;
   padding:40px ;
 border:1px solid #3CB371;
   width:98%;
   -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
#contenido2{
   background:#fff;
   margin:20px auto;
   overflow:hidden;
   padding:40px ;
 border:1px solid #3CB371;
   width:98%;
   -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
#contenido3{
   background:#fff;
   margin:20px auto;
   overflow:hidden;
   padding:40px ;
 border:1px solid #3CB371;
   width:98%;
   -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#consRegPredio{
  color: #006400;
}
#consExtra{
  color: #006400;
}
#consRegVivero{
  color: #006400;
}

footer{
    background:#1C4583;
   color:#fff;
   padding:5px;
   text-align: center

}
footer a{
    color:#FF8000;
    text-decoration: none;
}
footer a:hover{
    color:#F2F5A9;

}